body
{
	background-color: seashell;
	border-style: solid;
	border-color: darkred;
	color: darkred;
	text-align: center;
	padding: 25;
}

img
{
	border-style: solid;
	border-color: firebrick;
	border-width: thin;
	height: 250;
}
#one:hover
{
	content:url("one-again.jpg");
}
#two:hover
{
	content:url("two-again.jpg");
}
#three:hover
{
	content:url("three-again.jpg");
}
#four:hover
{
	content:url("four-again.jpg");
}
#five:hover
{
	content:url("five-again.jpg");
}
#six:hover
{
	content:url("six-again.jpg");
}
#seven:hover
{
	content:url("seven-again.jpg");
}
#eight:hover
{
	content:url("eight-again.jpg");
}

div
{
	border-style: solid;
	border-width: thin;
	background-color: linen;
	color: firebrick;
	border-color: firebrick;
}
#quotes
{
	display: inline-block;
	font-size: 20;
	width: 50%;
	padding-left: 10;
	padding-right: 10;
	cursor: default;
}
#pictures
{
	overflow: scroll;
	height: 65%;
	padding: 10;
}

#title
{
	font-size: 30;
}
.websites
{
	font-size: 15;
}